.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(33, 35, 47);
  color: antiquewhite;
  font-size: 20px;
}
.nav-container h2 {
  margin-left: 20px;
}

.link-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  margin-right: 20px;
  align-items: center;
}
.link-container li {
  list-style: none;
}

.nav-link {
  color: antiquewhite;
  text-decoration: none;
}

.about {
  text-align: center;
  margin-top: 50px;
}

.contact {
  text-align: center;
  margin-top: 50px;
}

.nav-link.active {
  color: rgb(48, 252, 191);
}
.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.not-found {
  width: 20%;
}

.recipe-container {
  width: 55%;
  margin: 50px auto;
}

.recipe-container img {
  width: 800px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
